<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

body {
    font-family: "Montserrat", sans-serif;
}

ul a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

ul a:hover {
    text-decoration: underline;
}

li {
    float: left;
    list-style-type: none;
    text-align: center;
}

.nav-top {
    position: fixed;
    top: 0;
    width:100%
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    width:100%
}

#search-box {
    border-radius: 10px;
}

#search-box:hover {
    border-color: #e2e2e2f6;
}

.search-button {
    background-color: #ffffffd2;
    border: none;
    font-size: 15px;
}

.search-button:hover {
    border: 1px #bebdbdf6 solid;
    border-radius: 5px;
}

.search-button:active {
    border: 1px #2b3ff3 solid;
}

#logo {
    position: center;
}

#submit-button {
    background-color: #3856ff;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}