header {
    position: fixed;
    top: 0;
    width: 1100%
}

ul a {
    list-style-type: none;
    margin: 0;
    padding: 200px;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
}

ul a:hover {
    text-decoration: underline;
}

li {
    float:left;
    list-style-type: none;
    text-align: center;
}

.left {
    position: relative;
    text-align: left;
}

.right {
    position: absolute;
    text-align: right;
}

#sign-in {
    background-color: #3856ff;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    height: 25px;
}

body {
    text-align: center;
}

#logo {
    display: block;
    margin: 175px auto;
}

.middle-segment {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: block;
    margin: auto auto;
}

#search-box {
    border-radius: 50px;
    height: 35px;
    width: 600px;
    opacity: 0.5;
    text-align: center;
}

.search-button {
    background-color: #ffffffd2;
    border: none;
    font-size: 15px;
    text-align: center;
}

.search-button:hover {
    border: 1px #bebdbdf6 solid;
    border-radius: 5px;
}

.search-button:active {
    border: 1px #2b3ff3 solid;
}

footer {
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: rgb(224, 224, 224);
    padding: 20px 0;
}